* { 
  margin:0; 
  padding:0; 
}
body { 
  padding-top: 75px; 
}
.frmdls-navbar {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.frmdls-navbar-btn {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.modal-content.frmdls-error-message {
  border: 1px solid red; 
  background-color: #FFBABA;
}
.modal-body.frmdls-message-content {
  background-color: #FFFFFF;
}

